## Visual Studio
.vs/
bin/
obj/
*.user
*.suo

## ASP.NET Core
appsettings.Development.json
appsettings.Local.json
appsettings.*.json.user

## Log ve Build Dosyaları
*.log
*.DS_Store
*.swp
*.tmp

## Rider veya Diğer IDE'ler (Varsa)
.idea/

## Publish Klasörü (Varsa)
publish/
